body {
  background-color: rgba(232, 65, 24, .9);
}

svg {
  margin: 2rem;
}

.holiday-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Ginger bread attributes */
.gingerbread .body {
  fill: #cd803d;
}

.gingerbread .eye {
  fill: #fff;
}

.gingerbread .mouth {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

.gingerbread .limb {
  stroke: #cd803d;
  stroke-width: 35px;
  stroke-linecap: round;
}

/* Christmas House */
.christmas-house {
  stroke-width: 2px;
  fill: #116530;
}

.christmas-house .roof {
  fill: none;
  stroke-width: 20px;
  stroke-linecap: round;
  stroke: #CD1818;
}

.christmas-house .window {
  fill: #FFF;
  rx: 3px;
}

.christmas-house line {
  stroke: #116530;
}

.christmas-house .door {
  fill: #CD1818;
  rx: 3px;
  stroke: #fff;
  stroke-width: 1px;
}

.christmas-house .stair {
  stroke: #fff;
  fill: #fff;
}

/* Bell */
.bell:hover {
  transform-origin: center 30%;
}

.bell:hover, .bell:hover .bell-tongue {
  animation-duration: .5s;
  animation-delay: -.25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-name: ring;
}

@keyframes ring {
  from {
    transform: rotate(-20deg);
  }to {
    transform: rotate(20deg);
  }

}


/* Forest flakes */

.flake {
  animation-duration: inherit;
  animation-name: snowing;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.opaque {
  opacity: .7;
}

@keyframes snowing {

  from {
    transform: translate(0, -100px);
  } to {
    transform: translate(0, 120px);
  }

}

.very-fast {
  animation-duration: 1s;
}

.fast {
  animation-duration: 2s;
}

.medium {
  animation-duration: 3s;
}

.slow {
  animation-duration: 4s;
}

.very-slow {
  animation-duration: 5s;
}
